@import "flipCard.css";

.body {
    background-image: url("https://cdn.hipwallpaper.com/i/94/64/nhjsOp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.header {
    text-align: center;
    margin: 1em;
    font-size: 3em;
    opacity: .9;
}

.jokeContainer {
    align-items: center;
    align-content: center;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
}

.joke {
    width: 9em;
    height: 13em;
    margin: 1em;
    opacity: .9;
    transition: 0.2s;
    transform-style: preserve-3d;
    border-radius: 1em;
    color: black;
    font-size: 1.3em;
}

.joke:hover {
    transform: scale(1.1, 1.1);
    color: white;
}

.joke:hover:after {
    opacity: 1;
}

.joke__Header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
