.flex {
    display: flex;
    flex-flow: row wrap;
}

.header {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}

.jokeContainer {
    align-items: center;
    align-content: center;
    margin: auto;
    width: 80%;
    border: solid black 1px;
    justify-content: space-evenly;
    background: black
}

.joke {
    border: solid black 1px;
    width: 10em;
    height: 14em;
    margin: 1em;
    padding: .5em;
    background: lightcyan;
    opacity: 0.2;
    transition: 0.2s;
    transform-style: preserve-3d;
}
.joke:hover {
    opacity: 1;
}
.joke__Header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}